<app-navigation></app-navigation>
<div class="home container-fluid">
  <div class="overlay">
    <section
      class="her-wrap js-fullheight"
      data-section="home"
      data-stellar-background-ratio="0.5"
    >
      <div class="container">
        <div
          class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
          data-scrollax-parent="true"
        >
          <div class="content col-md-6">
            <div class="subh">
              <span class="subheading"><H1>Welcome to BOBDAO DEMO DAY</H1></span>
              <h1 class="mb-4">We are here for your Care</h1>
              <figure class="text-start">
                <blockquote class="blockquote">
                  
                  
                </blockquote>
              </figure>
              <p class="mb-4"></p>
              <p>
                <a
                  href="https://www.practo.com/consult/direct/new_consultation?utm_source=opd_google&utm_medium=101064617277&utm_campaign=10011972210"
                  class="btn btn-primary py-3 px-4 rounded-pill"
                  aria-disabled="true"
                >
                  Make an appointment
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
